absl-py==1.4.0
altgraph==0.17.2
anaconda-client==1.11.1
anaconda-navigator==2.1.1
anyio==3.5.0
argon2-cffi==20.1.0
asttokens==2.0.5
astunparse==1.6.3
attrs==22.1.0
Babel==2.11.0
backcall==0.2.0
backports.functools-lru-cache==1.6.4
backports.tempfile==1.0
backports.weakref==1.0.post1
beautifulsoup4==4.11.1
bleach==4.1.0
brotlipy==0.7.0
cachetools==5.3.0
certifi==2022.12.7
cffi==1.15.1
chardet==4.0.0
charset-normalizer==2.0.4
click==8.0.4
clyent==1.2.2
colorama==0.4.6
comm==0.1.2
conda==23.1.0
conda-build==3.21.6
conda-content-trust==0.1.3
conda-package-handling==2.0.2
conda_package_streaming==0.7.0
conda-repo-cli==1.0.27
conda-token==0.4.0
conda-verify==3.4.2
contourpy==1.0.5
cryptography==39.0.1
cycler==0.11.0
debugpy==1.5.1
decorator==5.1.1
defusedxml==0.7.1
docopt==0.6.2
EasyProcess==1.1
entrypoint2==1.1
entrypoints==0.4
executing==0.8.3
fastjsonschema==2.16.2
filelock==3.9.0
flatbuffers==23.3.3
fonttools==4.25.0
future==0.18.3
gast==0.4.0
glob2==0.7
google-auth==2.16.3
google-auth-oauthlib==0.4.6
google-pasta==0.2.0
grpcio==1.51.3
h5py==3.8.0
idna==3.4
importlib-metadata==6.1.0
importlib-resources==5.2.0
ipykernel==6.19.2
ipython==8.10.0
ipython-genutils==0.2.0
ipywidgets==7.6.5
jax==0.4.6
jedi==0.18.1
jieba==0.42.1
Jinja2==2.11.3
joblib==1.2.0
json5==0.9.6
jsonschema==4.17.3
jupyter_client==7.4.9
jupyter_core==5.2.0
jupyter-server==1.23.4
jupyterlab==3.5.3
jupyterlab-pygments==0.1.2
jupyterlab-server==2.10.3
jupyterlab-widgets==1.0.0
keras==2.12.0
kiwisolver==1.4.4
libarchive-c==2.9
libclang==16.0.0
lmdb==1.4.0
Markdown==3.4.3
MarkupSafe==2.1.2
matlabengineforpython==R2021b
matplotlib==3.7.0
matplotlib-inline==0.1.6
menuinst==1.4.18
minimalmodbus==2.0.1
mistune==0.8.4
mkl-fft==1.3.1
mkl-random==1.2.2
mkl-service==2.4.0
MouseInfo==0.1.3
mss==9.0.1
munkres==1.1.4
navigator-updater==0.2.1
nbclassic==0.5.2
nbclient==0.5.13
nbconvert==6.4.4
nbformat==5.7.0
nest-asyncio==1.5.6
nltk==3.8.1
notebook==6.5.2
notebook_shim==0.2.2
numpy==1.23.5
oauthlib==3.2.2
opt-einsum==3.3.0
packaging==22.0
pandocfilters==1.5.0
parso==0.8.3
pathlib==1.0.1
pefile==2022.5.30
pickleshare==0.7.5
Pillow==9.4.0
pip==23.0.1
pipreqs==0.4.11
pkginfo==1.8.3
platformdirs==2.5.2
pluggy==1.0.0
ply==3.11
prometheus-client==0.14.1
prompt-toolkit==3.0.36
protobuf==3.20.3
psutil==5.9.0
pure-eval==0.2.2
pyasn1==0.4.8
pyasn1-modules==0.2.8
PyAutoGUI==0.9.54
pycosat==0.6.4
pycparser==2.21
PyGetWindow==0.0.9
Pygments==2.11.2
pyinstaller==5.2
pyinstaller-hooks-contrib==2022.8
PyJWT==2.4.0
PyMsgBox==1.0.9
pyOpenSSL==23.0.0
pyparsing==3.0.9
pyperclip==1.8.2
PyQt5==5.15.7
PyQt5-sip==12.11.0
PyQt5-stubs==5.15.6.0
PyRect==0.2.0
pyrsistent==0.18.0
pyscreenshot==3.1
PyScreeze==0.1.29
pyserial==3.5
PySocks==1.7.1
python-dateutil==2.8.2
pytweening==1.0.7
pytz==2022.7
pywin32==305.1
pywinpty==2.0.10
PyYAML==6.0
pyzmq==23.2.0
QtPy==2.2.0
regex==2023.3.23
requests==2.28.1
requests-oauthlib==1.3.1
rsa==4.9
ruamel.yaml==0.17.21
ruamel.yaml.clib==0.2.6
scipy==1.10.1
Send2Trash==1.8.0
setuptools==67.8.0
sip==6.6.2
six==1.16.0
sniffio==1.2.0
soupsieve==2.3.2.post1
stack-data==0.2.0
tensorboard==2.12.0
tensorboard-data-server==0.7.0
tensorboard-plugin-wit==1.8.1
tensorboardX==2.6
termcolor==2.2.0
terminado==0.17.1
testpath==0.6.0
toml==0.10.2
tomli==2.0.1
toolz==0.12.0
torch==1.7.1
torchvision==0.2.1
tornado==6.2
tqdm==4.64.1
traitlets==5.7.1
typing_extensions==4.5.0
ujson==5.4.0
urllib3==1.26.14
wcwidth==0.2.5
webencodings==0.5.1
websocket-client==0.58.0
Werkzeug==2.2.3
wheel==0.38.4
widgetsnbextension==3.5.2
win-inet-pton==1.1.0
wincertstore==0.2
wrapt==1.14.1
xmltodict==0.12.0
yarg==0.1.9
zipp==3.11.0
zstandard==0.19.0
wandb
